<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
	<system.webServer>
		<directoryBrowse enabled ="true"/>
	</system.webServer>

	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
				<listeners>
					<add name="messages"
						 type="System.Diagnostics.XmlWriterTraceListener"
						 initializeData="D:\Repos\Service_test_\HomeRealmSTS\HomeRealmSTSModel\HomeSTS\Logs\messages.svclog" />
				</listeners>
			</source>
			<source name="System.ServiceModel"
						  switchValue="Information, ActivityTracing"
						  propagateActivity="true">
				<listeners>
					<add name="traceListener"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "D:\Repos\Service_test_\HomeRealmSTS\HomeRealmSTSModel\HomeSTS\Logs\Traces.svclog" />
				</listeners>
			</source>
		</sources>
		<trace autoflush ="true" />
	</system.diagnostics>
	
	
  <system.serviceModel>
	  
	  <diagnostics>
		  <messageLogging
			   logEntireMessage="true"
			   logMalformedMessages="true"
			   logMessagesAtServiceLevel="false"
			   logMessagesAtTransportLevel="true"
			   maxMessagesToLog="3000"
			   maxSizeOfMessageToLog="200000000"/>
	  </diagnostics>
	  
		  <services>
			  <service name="HomeSTS.MySTS" behaviorConfiguration="MySTS_Behavior">
				  <endpoint address=""
							binding="wsHttpBinding"
							bindingConfiguration="MySTS_Binding"
							contract="HomeSTS.IMySTS">
					  
					  <identity>
						  <certificateReference findValue="1000"
										  x509FindType= "FindBySerialNumber"
										  storeLocation="CurrentUser"
										  storeName="My" />
					  </identity>
				  </endpoint>
				  <endpoint address ="mex"
							 binding="mexHttpBinding" 
							 contract="IMetadataExchange"/>
			  </service>
		  </services>

		  <bindings>
			  <wsHttpBinding>

				  <binding name='MySTS_Binding'>
					  <security mode='Message'>
						  <message clientCredentialType="Certificate" />
					  </security>
				  </binding>
			  </wsHttpBinding>
		  </bindings>

		  <behaviors>
			  <serviceBehaviors>
			  <behavior name='MySTS_Behavior'>
				  <serviceAuthorization  principalPermissionMode="Always" />
<!--		 serviceAuthorizationManagerType="HomeRealmSTSModel.HomeSTS.MySTS_AuthorizationManager, HomeRealmSTSModel " /> -->
											   
				  <serviceCredentials>
					  <serviceCertificate findValue="17c0c8e126287414ef07bb5e76d9a208aececde1"
										 x509FindType="FindBySerialNumber"
										 storeLocation="CurrentUser"
										 storeName="My"/>
				  </serviceCredentials>			
				  <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
				  <serviceDebug includeExceptionDetailInFaults="false" />
			  </behavior>
			  </serviceBehaviors>
		  </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>