<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="SecureBinding">
					<security mode="Message">
						<message clientCredentialType="UserName" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8080/MultiplyService" 
					  binding="wsHttpBinding" 
					  bindingConfiguration="SecureBinding" 
					  contract="MultiplyService.IMultiplyService" />
		</client>
	</system.serviceModel>
</configuration>

<behavior name="endpointCredentialBehavior">
	<clientCredentials>
		<clientCertificate findValue="contoso.com"
						   storeLocation="CurrentUser"
						   storeName="My"
						   x509FindType="FindBySubjectName" />
	</clientCredentials>
</behavior>